Content:
    nitrogen:
        root_dir: doc/content
    framework:
        root_dir: ${MOOSE_DIR}/framework/doc/content
    fluid_properties:
        root_dir: ${MOOSE_DIR}/modules/fluid_properties/doc/content
Renderer:
    type: MooseDocs.base.MaterializeRenderer
Extensions:
    MooseDocs.extensions.navigation:
        name: nitrogen
        repo: https://hpcgitlab.inl.gov/idaholab/nitrogen
        home: https://hpcsc.inl.gov/ssl/NITROGEN/site/index.html
        menu:
            Developers:
                Workflow: workflow.md
                Build Status: https://moosebuild.inl.gov/repo/idaholab/nitrogen
    MooseDocs.extensions.appsyntax:
        executable: ${NITROGEN_DIR}
        includes:
            - include
            - ${MOOSE_DIR}/framework/include
            - ${MOOSE_DIR}/modules/fluid_properties/include
        remove:
            framework: !include ${MOOSE_DIR}/framework/doc/remove.yml
    MooseDocs.extensions.common:
        shortcuts:
            framework: !include ${MOOSE_DIR}/framework/doc/globals.yml
    MooseDocs.extensions.acronym:
        acronyms: !include ${MOOSE_DIR}/framework/doc/acronyms.yml
    MooseDocs.extensions.sqa:
        active: true
        categories:
            framework: !include ${MOOSE_DIR}/framework/doc/sqa_framework.yml
            fluid_properties: !include ${MOOSE_DIR}/modules/fluid_properties/doc/sqa_fluid_properties.yml
            nitrogen: !include ${NITROGEN_DIR}/doc/sqa_nitrogen.yml
        reports: !include ${NITROGEN_DIR}/doc/sqa_reports.yml
    MooseDocs.extensions.template:
        active: true
